services:
  # LAYER 1: The Gatekeeper (Public facing)
  nginx:
    image: nginx:alpine
    ports: ["80:80"]
    volumes: ["./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"]
    depends_on: [tier3-app1, tier3-app2, tier3-app3]

  # LAYER 2: The Logic (3 Independent Servers)
  tier3-app1: &app_base
    build: .
    environment:
      - DB_PRIMARY_HOST=pgbouncer
      - DB_REPLICA_HOST=pgbouncer
      - DB_PORT=6432 # Connects to PgBouncer, not directly to Postgres
  tier3-app2: { <<: *app_base }
  tier3-app3: { <<: *app_base }

  # LAYER 3: The Connection Pooler
  pgbouncer:
    image: edoburu/pgbouncer
    volumes:
      - ./infra/pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./infra/pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:ro
    depends_on: [db-primary, db-replica]

  # LAYER 4: The Data
  db-primary:
    image: postgres:15
  db-replica:
    image: postgres:15