services:
  # LAYER 1: The Gatekeeper (Public facing)
  nginx:
    image: nginx:alpine
    ports: 
      - "8080:80"
    volumes: 
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
    depends_on: 
      - tier3-app1
      - tier3-app2
      - tier3-app3

  tier3-app1:
    build: 
      context: ../../
      dockerfile: apps/tier-3-100k/Dockerfile
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
      - DB_PRIMARY_HOST=pgbouncer
      - DB_REPLICA_HOST=pgbouncer
      - DB_NAME_PRIMARY=myapp_primary
      - DB_NAME_REPLICA=myapp_replica
    networks:
      - app-network
    depends_on: 
      - redis
      - pgbouncer
  tier3-app2: 
    build: 
      context: ../../
      dockerfile: apps/tier-3-100k/Dockerfile
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
      - DB_PRIMARY_HOST=pgbouncer
      - DB_REPLICA_HOST=pgbouncer
      - DB_NAME_PRIMARY=myapp_primary
      - DB_NAME_REPLICA=myapp_replica
    networks:
      - app-network
    depends_on:
      - redis
      - pgbouncer
  tier3-app3:
    build: 
      context: ../../
      dockerfile: apps/tier-3-100k/Dockerfile
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
      - DB_PRIMARY_HOST=pgbouncer
      - DB_REPLICA_HOST=pgbouncer
      - DB_NAME_PRIMARY=myapp_primary
      - DB_NAME_REPLICA=myapp_replica
    networks:
      - app-network
    depends_on:
      - redis
      - pgbouncer

  redis:
     image: redis:7
     networks:
      - app-network

  postgres-primary:
    image: postgres:15
    container_name: postgres-primary
    networks:
      - app-network
    volumes:
      - ./apps/tier-3-100k/init-db:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_INITDB_ARGS=--auth-host=trust
    # This command handles both the WAL settings AND the security rules
    command: |
      postgres -c wal_level=replica 
               -c max_wal_senders=10 
               -c max_replication_slots=10 
               -c hot_standby=on
               -c "logging_collector=on"
    ports:
      - "5433:5432"

  postgres-replica:
    image: postgres:15
    container_name: postgres-replica
    networks:
      - app-network
    depends_on:
      - postgres-primary
    environment:
      - POSTGRES_PASSWORD=postgres
      - PGPASSWORD=postgres
      # Crucial: Allow the replica to start its own internal engine
      - POSTGRES_HOST_AUTH_METHOD=trust
    # We use the service name 'postgres-primary' which Docker DNS should resolve
    command: >
      bash -c "
      echo 'Waiting for Primary DNS...';
      sleep 5;
      until pg_isready -h postgres-primary -p 5432; do
        echo 'Waiting for Primary database...';
        sleep 2;
      done;
      rm -rf /var/lib/postgresql/data/*;
      pg_basebackup -h postgres-primary -D /var/lib/postgresql/data -U postgres -vP -R;
      exec docker-entrypoint.sh postgres
      "
  pgbouncer: 
      image: edoburu/pgbouncer
      environment:
        - DATABASE_URL=postgres://postgres:postgres@postgres-primary:5432/postgres
      volumes:
        - ./pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini
      networks:
        - app-network
      ports:
        - 6432:6432
      depends_on:
        - postgres-primary


networks:
  app-network:
    driver: bridge